.container-parent {
  background-color: #eee;
  width: 100%;
  height: 170vh;
}

.header {
  background-color: #59a9e4;
  color: white;
  width: 100%;
  height: 6rem;
  position: fixed;
  z-index: 1;
  margin: 0 auto;
  padding: 0% auto;
  top: -0.2rem;
 
}
.container-services, .container-team {
  background-color: white;
  margin: 5px;
  width: 50rem;
  height: fit-content;
  padding: 0px;
  border-radius: 5px;
  position: relative;
  top: 8rem;
  left: 25rem;
}

.box {
  background-color: #eee;
  height: fit-content;
  width: 20rem;
  display: inline-block;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  margin: 1%;
  position: relative;
  left: 4rem;
}

.Pasuyo {
  position: relative;
  top: 1rem;
  left: 1rem;
}

h4 {
  color: #78a8ae;
  position: relative;
  top: 1px;
}
h3 {
  position: relative;
  top: 1rem;
  margin: 20px;
}
p {
  font-size: 2vh;
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.icon {
  float: left;
  width: 30%;
  margin: 5%;
  margin-bottom: 15rem;
}

.logo {
  width: 5rem;
  float: left;
  position: relative;
  left: 1rem;
  top: 0.5rem;

}

.pic {
  float: left;
  width: 5rem;
  height: 5rem;
  margin: 5%;
  border-radius: 50%;
  border: 1px solid;
  margin-bottom: 10rem;
}

.small {
  font-size: xx-small;
  position: absolute;
  top: 2px;
}
.rank {
  position: relative;
  font-size: xx-small;
  top: -1rem;
}
.description {
  font-size: 2vh;
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  top: -1rem;
}

.footer-one {
  background-color: #59a9e4;
  color: white;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: -8rem;
}
