.parentContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
  height: 40vh;
  width: 50vh;
  background-color: #0375e7;
  display: inline-flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;
}

h2{
    color: beige;
}

